<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="register"><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />


    <header class="encabezado">
        <a class="imgmera" href="/"><nav class="encab"><img class="mercado" src="/images/logo-mercado-liebre.svg" alt=""></a>
        <label class="barra" for= "barra de busqueda">Buscar productos</label>
        <div class="lupa"><a href=""><i class="fas fa-search"></i></a></div>       
        <div class="compra"><a href=""><i class="fas fa-hand-holding-usd"></i></a>
           <a href="">Comprá en cuotas y sin tarjeta de crédito</a>
        </nav> 
            
        </div>
        
        <nav class="menu">
            <ul class="menu1" type="none">
               <li><a href="">Ofertas</a></li>
               <li><a href="">Tiendas Oficiales</a></li>
               <li><a href="">Vender</a></li>
               <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="menu2" type="none">
                <li><a href="/register">Creá tu cuenta</a><a href=""><i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá</a><a href=""><i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras</a><a href=""><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
       <section class="hamb">
        <div class="burger-menu" >
            <i class="fas fa-bars"></i>
        </div>
        </section>

    </header>

    <main>
        <article>
            <form action="">
            <div class="todo">
                <div class="reg-box">
                    <label for="nombreyapellido">Nombre y Apellido</label>
                    <input type="text" name="nombreyapellido" id="nombreyapellido" placeholder="Nombre y Apellido">
                </div>
                <div class="reg-box">
                    <label for="nombredeusuario">Nombre de Usuario</label>
                    <input type="text" name="nombredeusuario" id="nombredeusuario" placeholder="Nombre de Usuario">
                </div> 
                <div class="reg-box">
                    <label for="email">E-mail</label><br>
                    <input type="email" name="email" id="email" placeholder="Email">
                </div>
                <div class="fecha">
                    <h4>Fecha de nacimiento</h4>
                </div>
                <div class=" inp-fecha">
                    <input type="date" name="fecha">
                </div>
                <div class="domicilio">
                    <label for="domicilio">Domicilio</label><br>
                    <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
                </div>
                <div class="perfil-us">
                    <h4>Perfil del usuario</h4>
                </div> 
                <div class="lab-per">
                    <label class="lab-comp"><input class="inp-comp" type="radio" name="perfil">Comprador</label>
                    <label class="lab-vend"><input class="inp-vend" type="radio" name="perfil">Vendedor</label>
                </div> 
                <div class="inter">
                    <h4>Intereses</h4>
                </div> 
                <div class="chec-inter">
                    <input type="checkbox" name="interes" id="Electro" value="Electro">
                    <label for="Electro">Electro</label><br>
                    <input type="checkbox" name="interes" id="Moda" value="Moda">
                    <label for="Moda">Moda</label><br>
                    <input type="checkbox" name="interes" id="Hogar" value="Hogar">
                    <label for="Hogar">Hogar</label><br>
                    <input type="checkbox" name="interes" id="Juguetería" value="Juguetería">
                    <label for="Juguetería">Juguetería</label><br>
                    <input type="checkbox" name="interes" id="Vida sana" value="Vida sana">
                    <label for="Vida sana">Vida sana</label>

                    <div class="foto-usua">
                        <label for="Foto de Usuario">Foto de Usuario</label>
                        <input type="file" name="Foto de Usuario" accept=".jpg" multiple>
                    </div>
                    <div class="contraseña1">
                    <label for="password">Contraseña</label><br>
                    <input type="password" name="password" id="password" placeholder="Eligí tu contraseña"><br>
                    </div>
                    <div class="conf-cont">
                    <label for="password">Confirmar contraseña</label><br>
                    <input type="password" name="password" id="password" placeholder="Confirmar contraseña"><br>
                    </div>
                    <div class="enviar1">
                    <button class="but-enviar1" type="submit"> <a href="/">Enviar</a></button>
                    </div>
                    <div class="borrar">
                    <input class="inp-borrar" type="reset" value="Borrar"/>   
                    </div>                
                    

                </div>           
            </div>

        </form>
        </article>
    </main>

    <footer>
        <section>
            <a href=""><i class="fas fa-credit-card"></i></a>
                <h4>Pagá con tarjeta o en efectivo</h4> 
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </section>

        <section>
            <a href=""><i class="fas fa-gift"></i></a>
            <h4>Envío gratis desde $ 2.500</h4> 
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
                </p>
        </section>

        <section>
            <a href=""><i class="fas fa-user-shield"></i></a>
            <h4>Seguridad, de principio a fin</h4> 
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
                </p>
        </section>

        <section>        
            <h4 class="slr">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    
    </footer>

    
</body>
</html>