.login main{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    background-color: rgb(236, 236, 236);
}

.login main form{
    padding: 0 140px;
}

.login main input{
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    border: none;

}

.login main form .but-enviar2{
    padding: 30px 0;
}

.login main form button{
    width: 100%;
    border-radius: 5px;
    padding: 10px 0;
    background-color: blue;
}

.login main form a{
    color: white;
    text-decoration: none;
}