@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    font-family: 'Roboto', sans-serif;
     
}

/*header*/


header.encabezado{
    background-color: #EAC926;
    font-size: 12px;
}

header .lupa{
    display:inline-block ;
    border: 1px;
    background-color: white;
}

header .compra{
    text-align: center;    
}

header nav ul{
    padding-left: 0;
}

header .burger-menu {
    text-align: center;
    display: inline-block;
    width: auto;
    padding: 10px;
    color: white;
    background-color:  #1259c3;
    border-radius: 5px;
    
   }

header .hamb{
       text-align: center;
       padding-bottom: 20px;
   }

  

/*main*/


main section h3{
    font-size: 24px;
}

main section article p.precio{
    font-size: 18px;
}

main section article p.descuento{
    font-size: 16px;
}

main section article h4{
    font-size: 16px;
}

/*footer*/

footer{
    text-align: center;
}

footer section a{
    font-size: 40px;
    color: #1259c3;
}

footer section h4.slr{
    text-align: left;
}










