@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('login.css');
@import url('register.css');

/*
font-family: 'Roboto', sans-serif;
*/

/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
        
}

/*header*/



header.encabezado{
    background-color: #EAC926;
    font-size: 12px;
}

header .encab{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px 0 20px;
}

header .imgmera{
    width: 40%;
}

header .mercado{
    display: inline-block;
}

/*header .barra{
    display: inline-block;
    background-color: white;
    width: 45%;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
    
}*/

/*header .lupa{
    display:inline-block ;
    border: 5px;
    background-color: white;
    width: 3%;
    font-size: 18px;
    margin: auto;
    
}*/

header .barra{
    display: inline-block;
    background-color: white;
    width: 45%;
    margin: 13px 0 13px 13px;
    border-radius: 5px 0 0 5px;
    padding: 10px;
    padding-right: 20px;
    
}

header .lupa{
    display:inline-block ;
    border: 1px;
    background-color: white;
    width: 5%;
    font-size: 18px;
    border-radius: 0 5px 5px 0 ;
    padding: 7px 7px 5px 0;
    margin: 13px 0 0 0;

}

header .compra{
    display:inline-block;
    align-self: center;
    padding-top: 25px;
    
}

header .menu{
    display: none;
}

header nav ul{
    padding-left: 0;
}

header .burger-menu {
    
    display: inline-block;
    width: auto;
    padding: 10px;
    color: white;
    background-color:  #1259c3;
    border-radius: 5px;
    margin-right: 0%;
    margin-bottom: 20px; 
}

header .hamb{
    text-align: center;
    padding-top: 30px;
    
}


/*main*/

main img{
    width: 90%;
    text-align: center;
}

main .imgmain{
    width: 100%;
}

main section{
    padding-top: 10px;
}


main section article{
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 10px 10px;
}

main .envio{
    display:block;
    border-radius:50%;
    border: 2px solid #39b54a ;
    background-color: white;
    color: #39b54a;
    /*margin-left: 80%;*/
    padding: 3px;
    width: 30px;
    margin-left: 80%;
        
}

/*main .envio{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}*/

main .descuento{
    color: #39b54a;
    
}

main section h3{
    font-size: 24px;
    padding-bottom: 15px;
    width: 90%;
    text-align: center;
    display: inline-block;
}



main section article p.precio{
    font-size: 18px;
    display: inline-block;
    width: 40%;
    padding-left: 5%;
}

main section article p.descuento{
    font-size: 16px;
    display: inline-block;
}

main section article h4{
    display:block ;
    width: 100%;
}

/*footer*/

footer{
    text-align: center;
    padding-top: 40px;
}

footer section{
    margin-bottom: 30px;
}

footer section a{
    font-size: 40px;
    color: #1259c3;
}

footer section h4.slr{
    text-align: left;
    padding-top: 35px ;
}



/*tablet*/

@media (min-width : 481px){

    /*header*/

    header .imgmera{
        width: 28%;
    }

    header .encab{
        display: flex;
        flex-wrap: wrap;
    }   
    
    header .mercado{
        display: inline-block;
        
    }
    
    header .barra{
        display: inline-block;
        background-color: white;
        width: 25%;
        border-radius: 5px 0 0 5px;
        padding: 2px;
        font-size: 10px;
        
        
    }
    
    header .lupa{
        display:inline-block ;
        border: 1px;
        background-color: white;
        width: 4%;
        font-size: 10px;
        border-radius: 0 5px 5px 0 ;
        padding: 2px ;
        text-align: end;
        
    }
    
    header .compra{
        display:inline-block;
        padding: 0;
        width: 40%;
        text-align: end;
        padding-right: 10px;
        /*white-space: nowrap;*/
    }

    header .menu{
        display:inline-flex;
        flex-wrap: wrap;
        color: #03264C;
        justify-content: center;
        width: 100%;
        
    }
    
    header .menu1{
        display: flex;
        align-items: flex-end;
        width: 50%;
        padding-right: 20px;
    }

    header nav ul li{
        padding: 10px;
    }

    header .menu2{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
        padding-right: 20px;
    }

    header .hamb{
        display: none;
        
    }

    header .burger-menu {
        display: none;
    }            

    /*main*/
   
    main section{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
        
    }

    /*main section h3{
        white-space: nowrap;
    }*/

    main section article{
        width: 40%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 20px;
    }

    main section article h4{
        display: inline-block;
        font-size: 16px;
    }

    main section article p.precio{
        font-size: 15px;
    }

    main section article p.descuento{
        font-size: 13px;
        margin-bottom: 8px;
        padding-left: 10px;
    }

    main section article h4{
        font-size: 13px;
    }

    /*footer*/
}

/*desktop*/
@media (min-width:769px){


    /*header*/

     header .menu{
    display: block;
    color: #03264C;
    padding-left: 20px;
    }

    header .menu{
        display:inline-flex;
        flex-wrap: wrap;
        color: #03264C;
        justify-content: center;
        width: 100%;
        
    }
    
    header .menu1{
        display: flex;
        align-items: flex-end;
        width: 50%;
        padding-right: 20px;
    }

    header nav ul li{
        padding: 10px;
    }

    header .menu2{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: 50%;
    }

    header .burger-menu {
        display: none;
    } 

 /*main*/
    main section{
        display: flex; 
        flex-wrap: wrap;
        justify-content: space-around;
    
    }

/*main section h3{
    white-space: nowrap;
}*/

    main section article{
        width: 20%;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin-bottom: 20px;
    }

    main section article h4{
        display: inline-block;
        font-size: 16px;
    } 
    
    main section article p.precio{
        font-size: 15px;
    }

    main section article p.descuento{
        font-size: 13px;
        margin-bottom: 8px;
        padding-left: 10px;
    }

    main section article h4{
        font-size: 13px;
    }
    
 /*footer*/
}









