@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

/*
Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
*/

*{
    font-family: 'Roboto', sans-serif;
     
}

/*header*/


header.encabezado{
    background-color: #EAC926;
    font-size: 12px;
}

header .mercado{
    display: block;
}

header .barra{
    display: inline-block;
    background-color: white;
    border: 1px solid black;
}

header .lupa{
    display:inline-block ;
    border: 1px;
    background-color: white;
}

header .compra{
    text-align: center;    
}

header nav ul{
    padding-left: 0;
}

header .burger-menu {
    text-align: center;
    display: inline-block;
    width: auto;
    padding: 10px;
    color: white;
    background-color:  #1259c3;
    border-radius: 5px;
    margin-bottom: 20px;   
    
   }

header .hamb{
    text-align: center;  
    padding-top: 20px;
}

header .menu{
    display: none;
}



  

/*main*/

main img{
    width: 90%;
    text-align: center;
}

main .imgmain{
    width: 100%;
}

main section{
    padding-top: 10px;
}

main section article{
    display: inline-block;
    border: 1px solid #ebebeb;
    padding: 10px 10px;
}

main .envio, main .descuento{
    color: #39b54a;
}



main section h3{
    font-size: 24px;
}

main section article p.precio{
    font-size: 18px;
}

main section article p.descuento{
    font-size: 16px;
}

main section article h4{
    display:none ;
}

/*footer*/

footer{
    text-align: center;
    padding-top: 40px;
}

footer section a{
    font-size: 40px;
    color: #1259c3;
}

footer section h4.slr{
    text-align: left;
}



/*tablet*/

@media (min-width : 481px){

    /*header*/

header .menu{
    display: block;
    color: #03264C;
    padding-left: 20px;
    }   

header .burger-menu {
    display: none;
    }            

    /*main*/
main section article{

        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

main section article h4{
        display: inline-block;
        font-size: 16px;
    }

    /*footer*/
}

/*desktop*/
@media (min-width:769px){


    /*header*/

header .menu{
    display: block;
    color: #03264C;
    padding-left: 20px;
    }

header .burger-menu {
    display: none;
} 

 /*main*/
main section article{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

main section article h4{
        display: inline-block;
        font-size: 16px;
    }    
    
 /*footer*/
}









